.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root{
  --body-font: 'Ubuntu', sans-serif;
}



/*====BASE====*/
*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}